# 数据库配置
DATABASE_URL=postgresql://neondb_owner:npg_EsBK01MphWwx@ep-delicate-frost-a4aw4hgd-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require

# JWT密钥 - 请替换为强密码
JWT_SECRET=123Mtr123@

# 服务器端口
PORT=3000

# 环境类型
NODE_ENV=development